#data-section {
    position: absolute;
    z-index: 10;
    right: 0;

    box-shadow: -12px 0 12px rgba(0,0,0,0.4);
    background-color: #F5F5F5;

    width: 20vw;
    max-width: 900px;
    height: 100vh;
    transition-duration: .2s;
    transition-property: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    #data-section {
        width: 100vw;
        height: 15vh;
        bottom: 0;
        box-shadow: 0 -12px 12px rgba(0,0,0,0.4);
    }
}

#data-section > * {
    display: none;
}

#data-section #data-section-cta {
    display: flex;
    padding: 16px;
    font-size: 14px;
    text-align: center;
    color: #A9A9A9;
}

@media screen and (max-width: 900px) {
    #data-section #data-section-cta {
        font-size: 18px;
    }
}

#data-section.data-shown {
    width: 60vw;
    transition-property: width, height;
}

@media screen and (max-width: 900px) {
    #data-section.data-shown {
        width: 100vw;
        height: 60vh;
    }
}

#data-section.data-shown > * {
    display: inherit;
}

#data-section.data-shown #data-section-cta {
    display: none;
}

#data-section.data-shown #btn-close-data-section {
    background-color: transparent;
    color: #A9A9A9;
    outline: none;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 4px;
    padding: 4px;
    transition: all .2s;
}

@media screen and (max-width: 900px) {
    #data-section.data-shown #btn-close-data-section {
        right: 12px;
        left: auto;
    }
}
#data-section.data-shown #btn-close-data-section:hover {
    color: #696969;
}

#data-section.data-shown #data-point-description {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
    color: #282828;
}

@media screen and (max-width: 900px) {
    #data-section.data-shown #data-point-description {
        margin-bottom: 12px;
        padding-top: 12px;
    }
}

#data-section.data-shown #data-mutable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#data-section.data-shown #data-date-description {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #282828;

}

#data-section.data-shown #data-mutable-container .data-table-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#data-section.data-shown #data-previous,
#data-section.data-shown #data-next {
    cursor: pointer;
    padding: 12px;
    margin: 12px 0;
    border-radius: 100%;
    transition: all .2s;
    color: #A9A9A9;
    font-weight: 500;
    white-space: nowrap;
}

#data-section.data-shown #data-previous:hover,
#data-section.data-shown #data-next:hover {
    color: #000000;
}

#data-section.data-shown #data-previous {
    margin-left: 12px;
}

#data-section.data-shown #data-previous::after {
    content: 'Anterior';
}

@media screen and (max-width: 900px) {
    #data-section.data-shown #data-previous::after {
        display: none;
    }
}

#data-section.data-shown #data-next {
    margin-right: 12px;
}

#data-section.data-shown #data-next::before {
    content: 'Próximo';
}

@media screen and (max-width: 900px) {
    #data-section.data-shown #data-next::before {
        display: none;
    }
}

.data-table {
    display: none;
    font-size: 14px;
    border-radius: 12px;
    width: 100%;
    table-layout: fixed;    
    overflow-wrap: break-word;
}

.data-table tbody{
    width: 100%;
}

.data-table .table-header-row {
    font-weight: bold;
    background-color: #282828;
    color: #F5F5F5;
}

.data-table .data-table-row {
    border-bottom: 1px solid #282828;
}

.data-table th,
.data-table td  {
    padding: 12px 8px;
}

@media screen and (max-width: 900px) {
    .data-table th,
    .data-table td {
        padding: 8px 4px;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .data-table th,
    .data-table td {
        padding: 5px 2px;
        font-size: 10px;
    }
}

.data-table-label {
    text-align: left;
    font-weight: bold;
    width: 42%;
}

@media screen and (max-width: 900px) {
    .data-table-label {
        width: 55%;
    }
}

.data-table-standard {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .data-table-standard {
        display: none;
    }
}

.data-table-standard span {
    margin-top: 2px;
    font-weight: 300;
}

.data-table-measurement {
    text-align: center;
    font-weight: bold;
}

td.data-table-measurement {
    background-color: #CCCCCC;
    text-transform: capitalize;
}

.data-table-measurement.valid {
    background-color: #CCFFCC;
}

.data-table-measurement.invalid {
    background-color: #FFCCCC;
}

.data-table.visible {
    display: table;
}

#data-dot-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;
    height: 16px;
}

#data-dot-container .dot {
    color: #C9C9C9;
    padding: 4px;
    margin: 0 3px;
    font-size: 12px;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: color, font-size;
}

@media screen and (max-width: 900px) {
    #data-dot-container .dot {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    #data-dot-container .dot {
        font-size: 10px;
    }
}

#data-dot-container .dot:hover {
    color: #A9A9A9;
}

#data-dot-container .dot.selected {
    color: #A9A9A9;
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    #data-dot-container .dot.selected {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    #data-dot-container .dot.selected {
        font-size: 12px;
    }
}

