#data-section {
    position: absolute;
    z-index: 10;
    right: 0;

    box-shadow: -12px 0 12px rgba(0,0,0,0.4);
    background-color: #F5F5F5;

    width: 20vw;
    max-width: 768px;
    height: 100vh;
    transition: all .2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#data-section > * {
    display: none;
}

#data-section #data-section-cta {
    display: flex;
    padding: 16px;
    font-size: 14px;
    text-align: center;
    color: #A9A9A9;
}

#data-section.data-shown {
    width: 60vw;
}

#data-section.data-shown > * {
    display: inherit;
}

#data-section.data-shown #data-section-cta {
    display: none;
}

#data-section.data-shown #btn-close-data-section {
    background-color: transparent;
    color: #A9A9A9;
    outline: none;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    /* align-self: flex-start;
    justify-self: flex-start; */
    position: absolute;
    left: 12px;
    top: 4px;
    padding: 4px;
    transition: all .2s;
}
#data-section.data-shown #btn-close-data-section:hover {
    color: #696969;
}

#data-section.data-shown #data-point-description {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
    color: #282828;
}

#data-section.data-shown #data-mutable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#data-section.data-shown #data-date-description {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #282828;

}

#data-section.data-shown #data-mutable-container div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#data-section.data-shown #data-previous,
#data-section.data-shown #data-next {
    cursor: pointer;
    padding: 12px;
    margin: 12px 0;
    border-radius: 100%;
    transition: all .2s;
    color: #A9A9A9;
    font-weight: 500;
    white-space: nowrap;
}

#data-section.data-shown #data-previous:hover,
#data-section.data-shown #data-next:hover {
    color: #000000;
}

#data-section.data-shown #data-previous {
    margin-left: 12px;
}


#data-section.data-shown #data-next {
    margin-right: 12px;
}

.data-table {
    display: none;
    font-size: 14px;
    border-radius: 12px;
    width: 100%;
    table-layout: fixed;    
    overflow-wrap: break-word;
}

.data-table tbody{
    width: 100%;
}

.data-table .table-header-row {
    font-weight: bold;
    background-color: #282828;
    color: #F5F5F5;
    font-style: italic;
}

.data-table .data-table-row {
    border-bottom: 1px solid #282828;
}

.data-table th,
.data-table td  {
    padding: 12px 8px;
}

.data-table-label {
    text-align: left;
    font-weight: bold;
    width: 45%;
}

.data-table-standard {
    text-align: center;
}

.data-table-measurement {
    text-align: center;
    font-weight: bold;
}



.data-table.visible {
    display: table;
}

