#map-section {
    position: absolute;
    z-index: 1;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition-duration: .2s;
    transition-property: none;
}

@media screen and (max-width: 900px) {
    #map-section {
        width: 100vw;
        height: 85vh;
    }
}

#map-section.data-shown{
    width: 40vw;
    min-width: calc(100vw - 900px);
    transition-property: width, height;
}

@media screen and (max-width: 900px) {
    #map-section.data-shown{
        width: 100vw;
        min-width: 100vw;
        height: 40vh;
    }
}

#map {
    height:  100%;
    width:   100%;
    z-index: 1;
}

#map .leaflet-tile-pane{
    filter: brightness(70%);
}

#map .leaflet-marker-icon {
    filter: brightness(150%);
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-layers,
.leaflet-control-layers-selector,
.leaflet-control-layers-base label span {
    cursor: pointer;
}

#panning-menu {
    position: absolute;
    z-index: 50;
    width: 60%;
    flex-wrap: nowrap;
    text-align: center;
    margin: 10vh 20% 0 20%;
}

#panning-menu button {
    outline: none;
    background-color: rgba(200,200,200,.8);
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: background-color;
    padding: 4px 16px;
    margin: 0 6px;
    font-weight: 600;
    font-style: italic;
}

#panning-menu button:hover,
#panning-menu button:active {
    background-color: rgba(140,140,140,.8);
}

