#map-section {
    position: absolute;
    z-index: 1;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition-duration: .2s;
    transition-property: none;
}

#map-section.data-shown{
    width: 40vw;
    min-width: calc(100vw - 768px);
    transition-property: width, height;
}

#map {
    height:  100%;
    width:   100%;
}

#map .leaflet-tile-pane{
    filter: brightness(70%);
}

#map .leaflet-marker-icon {
    filter: brightness(150%);
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-layers,
.leaflet-control-layers-selector,
.leaflet-control-layers-base label span {
    cursor: pointer;
}

